.ng-invalid:not(form).ng-dirty  {
  color: red;
}

.form-field {
  margin: 1em;
}

.form-error-message {
  color: orangered;
}

md-input {
  width: 100%;
}

.registration-component {
  width: 400px;
}
