.lesson-card {
  width: 250px;
  margin: 15px;
}

md-icon{
  color: #5589b6;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 0;
  cursor: pointer;
}

md-icon:hover {
  color: #3b5376;
}

.lesson-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lesson-card h4 {
  color: #5589b6;
}

.lesson-card a {
  cursor: pointer;
  color: #5589b6;
}

.lesson-card a:hover {
  color: #3b5376;
}
