.lesson-card {
  width: 250px;
  margin: 15px;
}

md-icon{
  color: #5589b6;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 0;
  cursor: pointer;
}

md-icon:hover {
  color: #3b5376;
}

.lesson-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lesson-card h4 {
  color: #5589b6;
}

.lesson-card a {
  cursor: pointer;
  color: #5589b6;
}

.lesson-card a:hover {
  color: #3b5376;
}

@-moz-keyframes shake {
  0%, 15%, 100% {-moz-transform: rotate(0deg);}
  5% {-moz-transform: rotate(30deg);}
  10% {-moz-transform: rotate(-30deg);}
}
@-webkit-keyframes shake {
  0%, 15%, 100% { -webkit-transform: rotate(0deg);}
  5% { -webkit-transform: rotate(30deg);}
  10% { -webkit-transform: rotate(-30deg);}
}
@keyframes shake {
  0%, 15%, 100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  5% { -webkit-transform: rotate(30deg); transform: rotate(30deg);}
  10% { -webkit-transform: rotate(-30deg); transform: rotate(-30deg);}
}

.shake {
  animation-name: shake;
}

.animated {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.conversation-icon{
  font-size: 25px;
  color: red;
}

