<div class="component-header">
  <h2>Konto</h2>
  <h3>Zmień swoje informacje o koncie.</h3>
</div>
<hr>
<div class="center-block form-wrapper">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
    <div class="form-field">
      <md-input-container>
        <input md-input type="password" formControlName="oldPassword" placeholder="Stare hasło">
      </md-input-container>
      <div *ngIf="errorMessages.oldPassword.errors" class="form-error-message">
        {{ errorMessages.oldPassword.errors[0] }}
      </div>
    </div>
    <div class="form-field">
      <md-input-container>
        <input md-input type="password" formControlName="newPassword" placeholder="Nowe hasło">
      </md-input-container>
      <div *ngIf="errorMessages.newPassword.errors" class="form-error-message">
        {{ errorMessages.newPassword.errors[0] }}
      </div>
    </div>
    <div class="form-field">
      <md-input-container>
        <input md-input type="password" formControlName="newPassword2" placeholder="Powtórz nowe hasło">
      </md-input-container>
      <div *ngIf="errorMessages.newPassword2.errors" class="form-error-message">
        {{ errorMessages.newPassword2.errors[0] }}
      </div>
    </div>
    <button md-raised-button type="submit">Zmień</button>
  </form>
</div>
