<div class="component-header">
  <h2>Zdjęcie profilowe</h2>
  <h3>Dodaj swoje ładne zdjęcie do profilu.</h3>
</div>
<hr>
<div class="center-block form-wrapper">
  <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
  <br>
  <div style="display: inline-block">
    <input type="file" name="file" id="file" class="input-file" (change)="fileChangeListener($event)"/>
    <label md-raised-button for="file">Wybierz zdjęcie</label>
  </div>

  <span *ngIf="data.image">
    <button md-raised-button (click)="savePhoto()">Zapisz</button>
  </span>
</div>


