<header>
  <md-toolbar color="primary">
    <img routerLink="/" src="/assets/logo2.png" height="85%"/>

    <span class="fill-remaining-space"></span>
    <div *ngIf="!authService.isAuth()">
      <button md-button routerLink="/login" >Zaloguj się</button>
      <button md-button routerLink="/registration" >Zarejestruj się</button>
    </div>
    <div *ngIf="authService.isAuth()">
      <span *ngIf="!authService.isTeacher()">
        <button md-button routerLink="/lesson/create" >Zostań nauczycielem</button>
      </span>
      <span *ngIf="authService.isTeacher()">
        <button md-button routerLink="/lesson/create" >Dodaj nową ofertę</button>
      </span>
      <button md-button routerLink="/user/edit-profile" >Mój profil</button>
      <button md-button (click)="authService.logout()">Wyloguj się</button>
    </div>
  </md-toolbar>
</header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="container footer-container">
      <div class="footer-content">
        <ul>
          <li><a href="#">First</a></li>
          <li><a href="#">Secound</a></li>
          <li><a href="#">Third</a></li>
        </ul>
        <div class="author-info">
          Copyright © 2016 Dawid Rdzanek
        </div>
      </div>
    </div>

  </footer>

