.footer-content {
  margin-top: 1.5em;
}

.footer-container {
  height: 100%;
}

.author-info {
  color: antiquewhite;
  float: right !important;
}

a {
  color: antiquewhite;
}

.notify-link {
  color: #1376d7;
  cursor: pointer;
}

.notify-link:hover {
  color: #1350a0;
}

.menu-content {
  margin-left: 5px;
  margin-right:5px;
  margin-top: 2px;
}

.notify-read {
  cursor: pointer;
  z-index: 10;
}

.notification {
  cursor: pointer;
}

.account-circle-img {
  cursor: pointer;
}

.notify-read md-icon {
  font-size: 15px;
  margin-left: 5px;
}

.notify-bottom-link {
  cursor: pointer;
}

.notify-bottom-link md-icon {
  font-size: 20px;
  margin-left: 10px;
}

.message {
  cursor: pointer;
}
