<header>
  <md-toolbar color="primary">
    <img routerLink="/" src="/assets/logo2.png" height="85%"/>

    <span class="fill-remaining-space"></span>
    <div *ngIf="!authService.isAuth()">
      <button md-button (click)="openLoginDialog()" >Zaloguj się</button>
      <button md-button (click)="openRegistrationDialog()" >Zarejestruj się</button>
    </div>
    <div *ngIf="authService.isAuth()">
      <span *ngIf="!authService.isTeacher()">
        <button md-button routerLink="/lesson/create" >Zostań nauczycielem</button>
      </span>
      <span *ngIf="authService.isTeacher()">
        <button md-button routerLink="/lesson/create" >Dodaj nową ofertę</button>
        <button md-button routerLink="/teacher/my-lessons" >Prowadzone lekcje</button>
      </span>

      <button md-button routerLink="/user/my-lessons" >Moje lekcje</button>

      <span *ngIf="notifications?.length">
        <button md-icon-button [md-menu-trigger-for]="notificationsMenu">
          <md-icon>notifications_active</md-icon> {{notifications?.length}}
        </button>

        <md-menu x-position="before" y-position="below" #notificationsMenu="mdMenu">
          <div class="menu-content">
            <div *ngFor="let notification of notifications" (click)="notificationAction(notification)" class="notification">
                <div>
                  <div><b>{{notification.title}}</b></div>
                  <div>{{notification.text}}</div>
                  <div>
                    <i>{{timeAgo(notification.createDate)}}</i>
                    <span class="pull-right notify-read" (click)="markNotificationAsRead(notification)" mdTooltip="Przeczytane">
                      <md-icon>done</md-icon>
                    </span>
                  </div>
                </div>
                <hr>
            </div>
            <div>
              <!--<span class="notify-link">Zobacz wszystkie</span> TODO strona ze wszystkimi powiadomieniami-->
              <span class="pull-right notify-bottom-link" (click)="markAllNotificationsAsRead()" mdTooltip="Przeczytaj wszystkie">
                <md-icon>done_all</md-icon>
              </span>
            </div>
          </div>
        </md-menu>
      </span>

      <span *ngIf="notifications?.length == 0">
        <button md-icon-button>
          <md-icon>notifications_off</md-icon>
        </button>
      </span>

      <span *ngIf="unreadMessages?.length == 0">
        <button md-icon-button routerLink="/messages">
          <md-icon>message</md-icon>
        </button>
      </span>

      <span *ngIf="unreadMessages?.length">
        <button md-icon-button [md-menu-trigger-for]="messagesMenu">
          <md-icon>message</md-icon> {{unreadMessages?.length}}
        </button>

        <md-menu x-position="before" y-position="below" #messagesMenu="mdMenu">
          <div class="menu-content">
            <div *ngFor="let message of unreadMessages" (click)="showMessage(message)" class="message">
                <div>
                  <div><b>Od: {{getFullNameOrUsername(message.sender)}}</b></div>
                  <div>{{message.title}}</div>
                  <div>
                    <i>{{message.createDate | date: 'H:mm:ss dd/MM/yy'}}</i>
                    <span class="pull-right notify-read" (click)="markMessageAsRead(message)" mdTooltip="Przeczytane">
                      <md-icon>done</md-icon>
                    </span>
                  </div>
                </div>
              <hr>
            </div>
            <div>
              <span class="pull-right notify-bottom-link" routerLink="/messages"  mdTooltip="Zobacz wszystkie">
                <md-icon>question_answer</md-icon>
              </span>
              <span class="pull-right notify-bottom-link" (click)="markAllMessagesAsRead()" mdTooltip="Przeczytaj wszystkie">
                <md-icon>done_all</md-icon>
              </span>
            </div>
          </div>
        </md-menu>
      </span>

      <span *ngIf="!authService.hasPhoto()">
        <img class="profile-photo account-circle-img" src="assets/profile.png" [md-menu-trigger-for]="menu">
      </span>

      <span *ngIf="authService.hasPhoto()">
        <img class="profile-photo account-circle-img" src="{{ authService.getPhoto() }}" [md-menu-trigger-for]="menu">
      </span>

      <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item routerLink="/account">Konto</button>
        <button md-menu-item (click)="logout()">Wyloguj się</button>
      </md-menu>

    </div>
  </md-toolbar>
</header>

  <main>
      <router-outlet></router-outlet>
  </main>

<footer>
  <div class="container footer-container">
    <div class="footer-content">
      <ul>
        <li><a href="#">First</a></li>
        <li><a href="#">Secound</a></li>
        <li><a href="#">Third</a></li>
      </ul>
      <div class="author-info">
        Copyright © 2017 Dawid Rdzanek
      </div>
    </div>
  </div>

</footer>

<ng2-toasty></ng2-toasty>


