textarea {
  height: 100px;
  width: 100%;
}

md-input {
  width: 100%;
}

md-input-container {
  width: 100%;
}

.form-error-message {
  color: orangered;
}

.ng-invalid:not(form).ng-dirty  {
  color: red;
}

.form-field {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgba(0,0,0,.38);
}

.comment-form {
  width: 400px;
}

md-slider {
  width: 300px;
}

