.lesson-card {
  border: 1px cornflowerblue solid;
  display: inline-block;
}

img {
  height: 100%;
}

.form-field {
  margin: 2em;
  display: inline-block;
}

.elem {
  margin: 5px;
  width: 250px;
  height: 250px;
  border: 2px black solid;
}
