.lesson-card {
  border: 1px cornflowerblue solid;
  display: inline-block;
}

img {
  height: 100%;
}

.form-field {
  margin: 2em;
  display: inline-block;
}

.offer-card {
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card-avatar {
  cursor: pointer;
  z-index: 10;
}

.offer-card-description {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  max-height: 150px;
}

.pagination {
  text-align: center;
}

