<div style="margin:4em">
  <md-grid-list cols="4" rowHeight="4:3" gutterSize="25px">
    <md-grid-tile *ngFor="let lesson of lessons" [rowspan]="1">
      <img src="/assets/sowa2.jpg" alt="zdjecie sowy">
      <md-grid-tile-footer>
        <h3 md-line>{{lesson.title}}</h3>
        <span md-line [routerLink]="['/user', lesson.teacher.user.username]">Nauczyciel: {{getTeacherFullName(lesson)}}</span>
        <button md-icon-button>
          <md-icon>info</md-icon>
        </button>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>


