<div class="container">
    <!--FILTROWANIE-->
    <form [formGroup]="filterForm" (ngSubmit)="filtration()" autocomplete="off" novalidate>
      <div class="form-field">
        <md-select placeholder="Przedmiot" formControlName="subject">
          <md-option *ngFor="let subject of subjects" [value]="subject"> {{subject}} </md-option>
        </md-select>
      </div>
      <div class="form-field">
        <md-select placeholder="Poziom" formControlName="stage">
          <md-option *ngFor="let stage of stages" [value]="stage"> {{stage}} </md-option>
        </md-select>
      </div>
      <div class="form-field">
        <md-input placeholder="Maksymalna cena" formControlName="maxPrice" type="number"></md-input>
      </div>
      <div class="form-field">
        <md-input placeholder="Minimalna cena" formControlName="minPrice" type="number"></md-input>
      </div>
      <div class="form-field">
        <button md-raised-button type="submit">Filtruj</button>
        <button md-raised-button (click)="resetFiltration()">Wyczyść</button>
      </div>
    </form>
    <!--END FILTROWANIE-->

</div>

  <div class="containerX">
    <div fxLayoutWrap="wrap" fxLayout="row" fxFlex >
      <div class="elem" *ngFor="let lesson of lessons" fxFlex.lg="20" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="50">
        <!--<img src="/assets/sowa2.jpg" alt="zdjecie sowy">-->
        <h3>{{lesson.title}}</h3>
        <span md-line [routerLink]="['/user', lesson.teacher.user.username]">Nauczyciel: {{getTeacherFullName(lesson)}}</span>
        <button md-icon-button [routerLink]="['/lesson', lesson.slug]">
          <md-icon>info</md-icon>
        </button>
      </div>
      <!--<div class="elem" fxFlex="30" style="border: 2px black solid"> I'm above on mobile, and to the left on larger devices.   </div>-->
      <!--<div class="elem" fxFlex="30" style="border: 2px black solid"> I'm below on mobile, and to the right on larger devices.  </div>-->
      <!--<div class="elem" fxFlex="30" style="border: 2px black solid"> I'm below on mobile, and to the right on larger devices.  </div>-->
      <!--<div class="elem" fxFlex="30" style="border: 2px black solid"> I'm below on mobile, and to the right on larger devices.  </div>-->
    </div>
  </div>

    <!--<md-grid-list #grid cols="4" rowHeight="4:3" gutterSize="25px">-->
      <!--<md-grid-tile *ngFor="let lesson of lessons" [rowspan]="1">-->
        <!--<img src="/assets/sowa2.jpg" alt="zdjecie sowy">-->
        <!--<md-grid-tile-footer>-->
          <!--<h3 md-line>{{lesson.title}}</h3>-->
          <!--<span md-line [routerLink]="['/user', lesson.teacher.user.username]">Nauczyciel: {{getTeacherFullName(lesson)}}</span>-->
          <!--<button md-icon-button [routerLink]="['/lesson', lesson.slug]">-->
            <!--<md-icon>info</md-icon>-->
          <!--</button>-->
        <!--</md-grid-tile-footer>-->
      <!--</md-grid-tile>-->
    <!--</md-grid-list>-->



